* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #000;
}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
    
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}